:root {
    --primary-background: #000000;
    --primary-shadow: #111111;
    --primary-subdued: #171717;
    --primary-color: #ffffff;

    /* Table on dark background */
    --secondary-background: #080808;
    --secondary-border: #0d0d0d;
    --secondary-color: #b3b3b3;

    /* Pill on dark background */
    --secondary-inverted-background: #a3a3a3;
    --secondary-inverted-background-hover: #b3b3b3;
    --secondary-inverted-color: #000000;
}

:root {
    /* Navcards */
    --navcard-background: var(--secondary-inverted-background);
    --navcard-border: 1px solid #0f0f0f;
    --navcard-overlay-hidden: rgba(0, 0, 0, 0.0);
    --navcard-overlay-visible: rgba(0, 0, 0, 0.8);
    --navcard-color: var(--primary-color);

    /* Table */
    --table-background: var(--secondary-background);
    --table-border: 1px solid var(--secondary-border);
    --table-color: var(--secondary-color);
    --mock-table-background: var(--secondary-inverted-background);

    /* Pills */
    --pill-background: var(--secondary-inverted-background);
    --pill-background-hover: var(--secondary-inverted-background-hover);
    --pill-color: var(--secondary-inverted-color);
    --pill-color-hover: var(--secondary-inverted-color);

    /* Images */
    --image-shadow: 6px 6px 6px 1px var(--primary-shadow);
    --image-highlight-border: var(--primary-color);

    /* Page Footer */
    --footer-background: var(--secondary-background);
    --footer-color: var(--secondary-inverted-background); /* TODO: Use --secondary-color? */
}
