:root {
    --primary-background: #000000;
    --primary-shadow: #111111;
    --primary-text: #ffffff;

    /* Non-primary text on dark background */
    --tertiary-text: #171717;

    /* Table on dark background */
    --secondary-background: #080808;
    --secondary-border: #0d0d0d;
    --secondary-text: #b3b3b3;

    /* Pill on dark background */
    --secondary-inverted-background: #a3a3a3;
    --secondary-inverted-text: #000000;
}

:root {
    /* Navcards */
    --navcard-background: var(--secondary-inverted-background);
    --navcard-border: 1px solid #0f0f0f;
    --navcard-overlay-hidden: rgba(0, 0, 0, 0.0);
    --navcard-overlay-visible: rgba(0, 0, 0, 0.8);
    --navcard-text: var(--primary-text);

    /* Images */
    --image-shadow: 6px 6px 6px 1px var(--primary-shadow);
    --image-highlight-border: var(--primary-text);

    /* Page Footer */
    --footer-background: var(--secondary-background);
    --footer-text: var(--secondary-inverted-background); /* TODO: Use --secondary-text? */
}
