.max-width-container {
    margin: 0 auto;
    max-width: var(--container-max-width);
    padding: 0 var(--container-block-padding);

    --container-max-width: 1200px;
    --container-block-padding: 16px;
}
