html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

html,
body,
p,
h1,
h2,
h3 {
    /* Avoid orphans, widows etc. */
    text-wrap: pretty;
}

html {
    line-height: 1.25;
    font-size: 16px;
    font-family: 'Roboto Condensed Variable', sans-serif;
}

body {
    background-color: var(--primary-background);
    color: var(--primary-color);
}

* {
    box-sizing: border-box;
}

a.implicit-link,
a.implicit-link:hover,
a.implicit-link:active,
a.implicit-link:visited,
a.implicit-link:focus,
a.implicit-link:focus-visible,
a.implicit-link:focus-within {
    text-decoration: inherit;
    color: inherit;
}

p,
article ul,
main section ul {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 300;
}

article ulx {
    font-size: 1.4rem;
    line-height: 2.25rem;
    font-weight: 300;
}

article ul li,
main section ul li {
    margin-bottom: .75rem;
}

h1 span.thin,
h2 span.thin,
h3 span.thin,
h4 span.thin,
h5 span.thin,
h6 span.thin,
p span.thin,
article ul span.thin,
main section ul span.thin {
    font-weight: 200;
}

@media(max-width: 900px) {

    p,
    article ul,
    main section ul {
        font-size: 1.25rem;
        line-height: 2rem;
    }
}

@media(max-width: 600px) {

    p,
    article ul,
    main section ul {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

p a,
form label a {
    color: inherit;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--primary-color-underline);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

p a:hover,
p a:focus,
form label a:hover,
form label a:focus {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: auto;
    text-underline-offset: auto;
}

h3 {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.table~h3 {
    margin-top: 5rem;
}

a.anchor,
a.anchor:hover,
a.anchor:active,
a.anchor:visited,
a.anchor:focus,
a.anchor:focus-visible,
a.anchor:focus-within {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    position: relative;
}

a.anchor {
    --show-anchor: "";
}

a.anchor:hover {
    --show-anchor: "#";
}

a.anchor::before {
    display: block;
    content: var(--show-anchor);
    position: absolute;
    right: 100%;
    color: var(--primary-subdued);
    font-weight: 300;
    width: .5em;
    height: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}

a.anchor.anchor-hidden::before {
    content: none;
    display: none;
}

/*
a.anchor:hover,
a.anchor:hover span {
    text-decoration: underline;
    text-decoration-thickness: .05em;
    text-underline-offset: .075em;
    text-decoration-color: white;
}
*/

article h2 {
    font-size: 1.625rem;
    margin-block-start: 1em;
    margin-block-end: 0.846153846em;
}

article h3 {
    font-size: 1.4375rem;
    margin-block-start: 1.086956522em;
    margin-block-end: 1.043478261em;
}
