section {
    margin-top: 153px;
    margin-bottom: 153px;
    margin-top: 180px;
    margin-bottom: 180px;
}

h2 {
    font-size: 3.5rem;
    line-height: calc(1.25 * 4rem);
    margin-bottom: 3rem;
}

@media (min-width: 600px) {
    h2 {
        font-size: 6rem;
        line-height: 1.25;
        margin-bottom: 3rem;
    }
}

h2 .subdued {
    color: #171717;
    font-weight: 300;
}

h2 .strong {
    text-shadow: 0px 1px 5px rgba(255, 255, 255, 0.0);
    transition: text-shadow 1000ms ease-out;
}

h2:hover {
    display: block;
}

section:target>h2 .strong,
h2:target .strong,
a:target~h2 .strong {
    text-shadow: 0px 1px 20px rgba(128, 128, 255, 0.15);
}


@media (min-width: 900px) {
    h2 .nowrap {
        text-wrap: nowrap;
    }
}
