---
import { default as Imprint, meta } from "../content/Imprint.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout {...meta}>
  <section>
    <Imprint />
  </section>
</Layout>

<style>
  section {
    margin-bottom: 180px;
  }
</style>
