---
import "../styles/section.css";
import Table from "../components/Table.astro";
---

<section>
  <a name="kurse"></a>
  <a name="workshops"></a>
  <h2>
    <a class="anchor" href="#kurse" title="#kurse">
      <span class="strong">Kur&shy;se</span>
      <span class="subdued">&amp;</span>
      <span class="strong">Work&shy;shops</span>
    </a>
  </h2>
  <p>Hier sind Eure nächsten Gelegenheiten, um West Coast Swing zu lernen!</p>
  <h3>Kurse</h3>
  <p>Unsere regelmäßigen Kursen sind wie folgt aufgeteilt:</p>
  <ul>
    <li>Im <strong>Level 1</strong> lernst Du in 6 x 60 Minuten alle wichtigen Basics – von Left Side Pass bis Whip – und außerdem den besonderen „West Coast Swing-Spirit” kennen. Danach kannst Du direkt weiter in den Level 2!</li>
    <li>Im <strong>Level 2</strong> lernst Du über mehrere Monate weitere fortgeschrittene Basics wie Verlängerungen, Inside Turns, Rock'n'Gos und mehr kennen. Durch unser flexibles Kursysstem gilt ab hier: Der Einstieg ist jederzeit möglich.</li>
    <li>Im <strong>Level 3</strong> kommen dann fortlaufend neue Elemente, Figuren &amp; Technik hinzu. Der Einstieg ist jederzeit möglich.</li>
  </ul>
  <p>Für die Kurse benötigst Du keine feste Tanzpartnerin oder Tanzpartner! Aufgrund unseres flexiblen Kurssystems bist Du auch nicht an einen bestimmten Wochentag gebunden, sondern kannst flexibel wechselnde oder auch mehrere der verfügbaren Kurstage pro Woche besuchen. In einer Woche werden pro Level an allen Tagen die gleichen Inhalte unterrichtet. Du kannst also selbst entscheiden, wann und wie oft Du kommen möchtest.</p>
  <Table types={["regular_course"]} />
  <h3>Einsteigerworkshops</h3>
  <p>
    Bei unseren Einsteigerworkshops hast Du die Gelegenheit, den Tanz ganz unkompliziert kennenzulernen.
    Im Anschluss daran gibt es eine Party, bei der Du deine neu gewonnenen Fähigkeiten direkt einsetzen kannst!
  </p>
  <Table types={["beginner_workshop"]} showImages={false} />
  <h3>
      <span>Work&shy;shops</span>
      <span class="subdued">&amp;</span>
      <span>In&shy;ten&shy;sives</span>
  </h3>
  <Table types={["workshop"]} />
</section>
<style type="text/css">
  strong {
    font-weight: 450;
  }
</style>
