---
import "../styles/section.css";
import Table from "../components/Table.astro";
---

<section>
  <a name="kurse"></a>
  <a name="workshops"></a>
  <h2>
    <a class="anchor" href="#kurse" title="#kurse">
      <span class="strong">Kur&shy;se</span>
      <span class="subdued">&amp;</span>
      <span class="strong">Work&shy;shops</span>
    </a>
  </h2>
  <p>Hier sind Eure nächsten Gelegenheiten, um West Coast Swing zu lernen!</p>
  <h3>Kurse</h3>
  <p>Bei unseren regelmäßigen Kursen könnt Ihr mehrmals pro Woche kommen und maximal viel mitnehmen. Die Kurse sind wie folgt aufgeteilt:</p>
  <ul>
    <li>Im Level 1 lernt Ihr über 6 Wochen alle wichtigen Basics – von Left Side Pass bis Whip – und außerdem den besonderen „West Coast Swing-Spirit” kennen. Danach könnt Ihr direkt weiter in den Level 2!</li>
    <li>Im Level 2 lernt Ihr über insgesamt 4 x 6 Wochen = 24 Wochen fortgeschrittene Basics. Der Einstieg ist jederzeit möglich.</li>
    <li>Im Level 3 kommen dann fortlaufend neue Elemente, Figuren &amp; Technik hinzu. Der Einstieg ist jederzeit möglich.</li>
  </ul>
  <p>Für die Kurse benötigst Du keine feste Tanzpartnerin oder Tanzpartner! Aufgrund unseres flexiblen Kurssystems bist Du auch nicht an einen bestimmten Wochentag gebunden, sondern kannst flexibel wechselnde oder auch mehrere der verfügbaren Kurstage pro Woche besuchen. In einer Woche werden pro Level an allen Tagen die gleichen Inhalte unterrichtet.</p>
  <Table types={["regular_course"]} />
  <h3>Workshops</h3>
  <Table types={["workshop"]} />
</section>
