---
import "../styles/section.css";
import Table from "../components/Table.astro";
---

<section>
  <a name="kurse"></a>
  <a name="workshops"></a>
  <h2>
    <a class="anchor" href="#kurse" title="#kurse">
      <span class="strong">Kur&shy;se</span>
      <span class="subdued">&amp;</span>
      <span class="strong">Work&shy;shops</span>
    </a>
  </h2>
  <p>Hier sind eure nächsten Gelegenheiten, um West Coast Swing zu lernen!</p>
  <h3>Kurse</h3>
  <Table types={["regular_course"]} />
  <h3>Workshops</h3>
  <Table types={["workshop"]} />
</section>
