---
export const meta = {
  title: "Impressum",
  subtitle: "",
};
---

<p class="narrow-line-spacing">
  Angaben gemäß Informationspflicht laut § 5 Telemediengesetz (TMG).
</p>
<p class="narrow-line-spacing">
  Lukas Waslowski | Tanzgefühl - Tanzunterricht mit Begeisterung<br />
  Kothener Str. 1<br />
  42285 Wuppertal<br />
  Deutschland
</p>
<p class="narrow-line-spacing">
  <strong class="neutral">Tel.:</strong> (+49) 202 / 574 985 68<br /><strong
    class="neutral">E-Mail:</strong
  >
  <a href="mailto:info@wcs-wuppertal.de?subject=Impressum" data-obfuscation="0"
    >info@wcs-wuppertal.de</a
  >
</p>
<p class="narrow-line-spacing">
  <strong class="neutral">Berufsbezeichnung:</strong> Tanzlehrer
</p>
<h2 id="haftung-links-webseite">Haftung für Links auf dieser Website</h2>
<p>
  Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die
  Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
  ausschließlich deren Betreiber verantwortlich.
</p>
<h2 id="urheberrechtshinweis">Urheberrechtshinweis</h2>
<p>
  Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem
  Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der
  Verwertung außerhalb der Schranken des Urheberrechtes bedürfen der
  schriftlichen Zustimmung des jeweiligen Urhebers. Sollten Sie Inhalte
  verwenden wollen, wenden Sie sich bitte an den Seitenbetreiber.
</p>
<h2 id="bildernachweis">Bildernachweis</h2>
<p>
  Die Bilder und Fotos auf dieser Webseite sind urheberrechtlich geschützt. Die
  Bilderrechte liegen bei den jeweiligen Fotografen.
</p>
