---
import image1 from "../assets/kurse-und-workshops.jpg";
import image3 from "../assets/merchandise-e8sbQNYEwX8.jpg";
import image2 from "../assets/parties-und-events.jpg";
import NavCard from "../components/NavCard.astro";
---

<nav class="nav-cards">
  <NavCard title="Kurse & Workshops" href="/#kurse" image={image1} />
  <NavCard title="Parties & Events" href="/#parties" image={image2} />
  <NavCard
    title="Merchandise"
    href="https://shop.wcs-wuppertal.de"
    image={image3}
  />
</nav>

<style>
  .nav-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -6px;
    margin-right: -6px;
    margin-top: 96px;
    margin-bottom: 96px;
  }

  @media (max-width: 950px) {
    .nav-cards {
      flex-direction: column;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 36px;
      margin-bottom: 72px;
    }
  }
</style>
