---
import "../styles/section.css";
---

<section>
  <a name="was-ist-west-coast-swing"></a>
  <h2>Was ist West Coast Swing?</h2>
  <p>West Coast Swing ist ein Tanz aus den USA</p>
</section>

<style>
  section {
    margin-top: 85px;
  }
</style>
