---
import "../styles/section.css";
---

<section>
  <a name="was-ist-west-coast-swing"></a>
  <h2>
    <a
      class="anchor"
      href="#was-ist-west-coast-swing"
      title="#was-ist-west-coast-swing"
      ><span class="subdued">Was ist</span>
      <span class="strong nowrap">West Coast Swing</span><span class="subdued"
        >&ZeroWidthSpace;?</span
      ></a
    >
  </h2>
  <p>
    West Coast Swing ist ein Tanz aus den USA. Was macht West Coast Swing so
    besonders?
  </p>
  <div class="indented">
    <h3>Musikrichtung</h3>
    <p>
      West Coast Swing ist Dein Allrounder unter den Swing-Tänzen! Zu fast jedem
      Musikstil tanzbar, orientiert sich dieser Tanz an aktuellen Musiktrends
      und bleibt gleichzeitig seinen Swing-Wurzeln treu, sodass Du eine riesige
      Bandbreite an Musik vertanzen kannst. Dreh' Dein Radio auf, und schon
      kann's losgehen!
    </p>
    <h3>Partnerwechsel</h3>
    <p>
      West Coast Swing zählt zu den sogenannten „Social Dances”, bei denen es
      üblich ist, mit vielen verschiedenen Tanzpartner:innen auf
      unterschiedlichem tänzerischen Level zu tanzen. Das lässt Dich tänzerisch
      schnell weiterentwickeln, fördert die Flexibilität Deines West Coast
      Swings und vor allem: Der Spaßfaktor ist besonders groß!
    </p>

    Ähnlich wie bei unseren Single-Kursen werden auch im West Coast Swing die
    Tanzpartner alle paar Minuten gewechselt. Das fördert das Lead & Follow,
    sich also auf unterschiedlichste Tanzpartner einstellen zu können, und man
    lernt schnell die Community kennen, die diesen einzigartigen Tanz so
    besonders macht. Und der praktische Nebeneffekt: Um West Coast Swing zu
    lernen, benötigt Ihr keinen eigenen Partner – Ihr könnt auch alleine zu den
    West Coast Swing Kursen kommen! Wer aber als Paar unbedingt zusammen üben
    möchte, kann das auch gerne machen.
  </div>
</section>

<style>
  section {
    margin-top: 0px;
  }

  .indented {
    padding-left: 24rem;
  }
</style>
