---
import { Icon } from "astro-icon/components";
import "../styles/section.css";
---

<section>
  <a name="was-ist-west-coast-swing"></a>
  <h2>
    <a
      class="anchor"
      href="#was-ist-west-coast-swing"
      title="#was-ist-west-coast-swing"
      ><span class="subdued">Was ist</span>
      <span class="strong nowrap">West Coast Swing</span><span class="subdued"
        >&ZeroWidthSpace;?</span
      ></a
    >
  </h2>
  <p>
    West Coast Swing ist ein Tanz aus den USA. Was macht West Coast Swing so
    besonders?
  </p>
  <div class="indented">
    <p>
      <strong>Stell dir vor</strong>, du könntest sofort auf all deine
      Lieblingsmusik tanzen – und dabei auch noch ganz viel Spaß haben, nette
      Leute kennenlernen und neue Verbindungen knüpfen. Klingt gut? Dann bist du
      bei West Coast Swing absolut richtig!
    </p>
    <p>
      Entstanden an der <strong>kalifornischen Westküste</strong>, ist der West
      Coast Swing mittlerweile über den Atlantik herübergeschwappt und hat sich
      auch in unseren Breiten eine stetig wachsende Fangemeinde gesichert. Diese
      trifft sich beinahe jede Woche zu Parties, Workshops und Festivals in
      Deutschland und Europa.
    </p>
    <h3>Musikrichtung</h3>
    <p>
      West Coast Swing ist Dein Allrounder unter den Swing- und Paartänzen! Zu
      fast jedem Musikstil tanzbar, orientiert sich dieser Tanz an aktuellen
      Musiktrends und bleibt gleichzeitig seinen Swing-Wurzeln treu. Von
      <a href="https://www.youtube.com/watch?v=FFszG7_Buto">Michael Jackson</a> über
      <a href="https://www.youtube.com/watch?v=8L_LglOZHEE">Taylor Swift</a> bis
      hin zu <a href="https://www.youtube.com/watch?v=tZT8Z9aZTC8">B.B. King</a
      >: Dreh' Dein Radio auf, und schon kann's losgehen!
    </p>
    <h3>Partnerwechsel</h3>
    <p>
      West Coast Swing zählt zu den sogenannten „Social Dances”, bei denen es
      üblich ist, mit vielen verschiedenen Tanzpartner:innen auf
      unterschiedlichem tänzerischen Level zu tanzen. Das lässt Dich tänzerisch
      schnell weiterentwickeln, fördert die Flexibilität Deines West Coast
      Swings und vor allem: Der Spaßfaktor ist besonders groß!
    </p>

    Ähnlich wie bei unseren Single-Kursen werden auch im West Coast Swing die
    Tanzpartner alle paar Minuten gewechselt. Das fördert das Lead & Follow,
    sich also auf unterschiedlichste Tanzpartner einstellen zu können, und man
    lernt schnell die Community kennen, die diesen einzigartigen Tanz so
    besonders macht. Und der praktische Nebeneffekt: Um West Coast Swing zu
    lernen, benötigt Ihr keinen eigenen Partner – Ihr könnt auch alleine zu den
    West Coast Swing Kursen kommen! Wer aber als Paar unbedingt zusammen üben
    möchte, kann das auch gerne machen.
  </div>
</section>

<style>
  section {
    margin-top: 0px;
  }

  .indented {
    padding-left: 24rem;
  }

  .icon {
    position: relative;
    bottom: -3px;
    font-size: 20px;
    font-weight: 300;
  }
</style>
