---
import "../styles/section.css";
---

<section>
  <a name="was-ist-west-coast-swing"></a>
  <h2><span class="subdued">Was ist</span> <span class="strong nowrap">West Coast Swing</span><span class="subdued">?</span></h2>
  <p>West Coast Swing ist ein Tanz aus den USA</p>
</section>

<style>
  section {
    margin-top: 0px;
  }
</style>
