---
import "../styles/section.css";
---

<section>
  <a name="was-ist-west-coast-swing"></a>
  <h2>
    <a
      class="anchor"
      href="#was-ist-west-coast-swing"
      title="#was-ist-west-coast-swing"
      ><span class="subdued">Was ist</span>
      <span class="strong nowrap">West Coast Swing</span><span class="subdued"
        >&ZeroWidthSpace;?</span
      ></a
    >
  </h2>
  <p>
    West Coast Swing ist ein Tanz aus den USA. Er wird paarweise getanzt auch hierzulande einer
    seit Jahren wachsenden Beliebtheit erfreut. Was macht West Coast Swing so
    besonders?
  </p>
  <div class="indented">
    <h3>Paartanz einmal anders</h3>
    <p>
      West Coast Swing zählt zu den sogenannten „Social Dances”, bei denen es
      üblich ist, mit vielen verschiedenen Tanzpartner:innen auf
      unterschiedlichem tänzerischen Level zu tanzen. Das lässt Dich tänzerisch
      schnell weiterentwickeln, fördert die Flexibilität Deines West Coast
      Swings und vor allem: Der Spaßfaktor ist besonders groß!
    </p>
    <h3>Ein Tanz für Alles</h3>
    <p>
      West Coast Swing ist Dein Allrounder unter den Swing-Tänzen! Zu fast jedem
      Musikstil tanzbar, orientiert sich dieser Tanz an aktuellen Musiktrends
      und bleibt gleichzeitig seinen Swing-Wurzeln treu, sodass Du eine riesige
      Bandbreite an Musik vertanzen kannst. Dreh' Dein Radio auf, und schon
      kann's losgehen!
    </p>
  </div>
</section>

<style>
  section {
    margin-top: 0px;
  }

  .indented {
    padding-left: 24rem;
  }
</style>
