---
import { Icon } from "astro-icon/components";
import "../styles/section.css";
---

<section>
  <a name="was-ist-west-coast-swing"></a>
  <h2>
    <a
      class="anchor"
      href="#was-ist-west-coast-swing"
      title="#was-ist-west-coast-swing"
      ><span class="subdued">Was ist</span>
      <span class="strong nowrap">West Coast Swing</span><span class="subdued"
        >&ZeroWidthSpace;?</span
      ></a
    >
  </h2>
  <p>
    West Coast Swing ist ein Tanz aus den USA. Was macht West Coast Swing so
    besonders?
  </p>
  <div class="indented">
    <p>
      <strong>Stell dir vor</strong>, du könntest sofort auf all deine
      Lieblingsmusik tanzen – und dabei auch noch ganz viel Spaß haben, nette
      Leute kennenlernen und neue Verbindungen knüpfen. Klingt gut? Dann bist du
      bei West Coast Swing absolut richtig!
    </p>
    <p>
      Entstanden an der <strong>kalifornischen Westküste</strong>, ist der West
      Coast Swing mittlerweile über den Atlantik herübergeschwappt und hat sich
      auch in unseren Breiten eine stetig wachsende Fangemeinde gesichert. Diese
      trifft sich beinahe jede Woche zu Parties, Workshops und Festivals in
      Deutschland und Europa.
    </p>
    <h3>
      <span class="check-icon"
        ><Icon name="material-symbols:add-circle-outline" /></span
      >Musikrichtung
    </h3>
    <p>
      Man übertreibt nicht, wenn man West Coast Swing als wahres
      <strong>musikalisches Multitalent</strong> bezeichnet. Von
      <a href="https://www.youtube.com/watch?v=FFszG7_Buto">Michael Jackson</a> über
      <a href="https://www.youtube.com/watch?v=8L_LglOZHEE">Taylor Swift</a> bis
      hin zu <a href="https://www.youtube.com/watch?v=tZT8Z9aZTC8"
        >B.B.&nbsp;King</a
      >: Handy raus, Lieb&shy;lings&shy;play&shy;list an, und schon kann's
      losgehen!
    </p>
    <p>
      <details>
        <summary>Mehr</summary>
        <p>
          Der ver&shy;rä&shy;te&shy;ri&shy;sche Name lässt es schon erkennen:
          Ursprünglich wurde West Coast Swing auf die namensgebende Swing-Musik
          der 1920er getanzt, hat sich seitdem aber stetig erweitert. Egal ob
          langsamer R&B, swingiger Blues, aktuelle Dance Charts, Rock und Pop
          oder alles dazwischen – mit diesem Tanz habt Ihr für jede Musik etwas
          parat.
        </p>
        <p>
          Typischerweise wird West Coast Swing auf Songs mit einer
          Geschwin&shy;digkeit zwischen 85 und 115
          <abbr title="Beats per Minute: Taktschläge pro Minute"
            >Beats per Minute (BPM)</abbr
          > getanzt. Auf fortgeschritteneren Leveln steht einem aber das unglaublich
          breite Spektrum von 60 bis 130 BPM zur Verfügung.
        </p>
      </details>
    </p>
    <h3>
      <span class="check-icon"
        ><Icon name="material-symbols:add-circle-outline" /></span
      >Führen &amp; Folgen
    </h3>
    <p>
      Was West Coast Swing zusätzlich so einzigartig macht ist sein Fokus auf „<strong
        >Lead und Follow</strong
      >”. Seine Fans schwören auf das daraus entstehende,
      <strong>fließende Tanz&shy;gefühl</strong>. Anstatt von auswendig
      gerlernten Cho&shy;re&shy;o&shy;gra&shy;phien lebt West Coast Swing von
      der Spontaneität und der Freude am Augen&shy;blick.
    </p>
    <h3>
      <span class="check-icon"
        ><Icon name="material-symbols:add-circle-outline" /></span
      >Partnerwechsel
    </h3>
    <p>
      West Coast Swing lebt von der Idee des <strong>Social Dancing</strong>.
      Schon in Ursprüngen und Wurzeln aus dem Swing fest verankert, hat sich
      diese Kultur bis heute erhalten. Das bedeutet: Hier ist es üblich, mit
      vielen verschiedenen Tanz&shy;partner:innen auf unterschiedlichen
      tänzerischen Niveaus zu tanzen – sowohl in den Kursen als auch bei Parties
      und Workshops.
    </p>
    <p>
      Diese offene Atmosphäre fördert nicht nur deine tänzerische Flexibilität,
      sondern lässt dich auch schnell Teil dieser
      <strong>lebendigen Community</strong> werden. Erlebe selbst, wie viel Spaß
      es macht, sich auf unterschiedliche Tanzstile und Persönlichkeiten einzulassen.
    </p>
    <h3>
      <span class="check-icon"
        ><Icon name="material-symbols:add-circle-outline" /></span
      >Flexibles Kurssystem
    </h3>
    <p></p>
  </div>
</section>

<style>
  section {
    margin-top: 0px;
  }

  .indented {
    padding-left: 24rem;
  }

  .icon {
    position: relative;
    bottom: -3px;
    font-size: 20px;
    font-weight: 300;
  }

  details summary {
    cursor: pointer;
  }

  details summary:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }

  details p {
    font-size: 1.3rem;
  }

  h3 {
    position: relative;
  }

  /* h3 .check-icon {
    position: absolute;
    right: calc(100% + 20px);
    color: rgb(7, 134, 14);
    color: rgb(7, 134, 14, 0.5);
    color: rgb(7, 134, 14, 0.7);
    color: rgb(7, 134, 14, 1);
    margin-bottom: -1px;
    font-size: 50px;
    top: -7px;
    user-select: none;
  } */

  h3 .check-icon {
    position: absolute;
    right: calc(100% + 20px);
    /* color: var(--secondary-background); */
    margin-bottom: -1px;
    font-size: 50px;
    top: -7px;
    user-select: none;
    display: none;
  }
</style>

<style is:global>
  /* h3 .check-icon svg {
    background-color: rgb(7, 134, 14, 1);
    color: white;
    border-radius: 100%;
  } */
</style>
