---
import "../styles/section.css";
import MockTable from "./MockTable.astro";
---

<section>
  <a name="kurse"></a>
  <a name="workshops"></a>
  <h2><span class="strong">Kur&shy;se</span> <span class="subdued">&amp;</span> <span class="strong">Work&shy;shops</span></h2>
  <p>Hier sind eure nächsten Gelegenheiten, um West Coast Swing zu lernen!</p>
  <MockTable />
</section>
