---
import "../styles/section.css";
import MockTable from "./MockTable.astro";
---

<section>
  <a name="kurse"></a>
  <a name="workshops"></a>
  <h2><span class="strong">Kurse</span> <span class="subdued">&amp;</span> <span class="strong">Workshops</span></h2>
  <MockTable />
</section>
