---
import "../styles/section.css";
import MockTable from "./MockTable.astro";
---

<section>
  <a name="kurse"></a>
  <a name="workshops"></a>
  <h2>Kurse &amp; Workshops</h2>
  <MockTable />
</section>
