---
import "../styles/section.css";
---

<section>
  <a name="kontakt"></a>
  <h2>
    <span class="strong">Kontakt</span>
    <p>
      Du hast noch weitere Fragen? Dann schreib uns hier eine Nachricht, oder
      kontaktier uns unter <a
        href="mailto:info@wcs-wuppertal.de"
        data-obfuscation="0">info@wcs-wuppertal.de</a
      >!
    </p>
  </h2>
</section>
