---
import "../styles/container.css";
---

<footer>
  <div class="max-width-container">
    <p>Some content in the footer</p>
  </div>
</footer>

<style>
  footer {
    background-color: #080808;
    color: #a3a3a3;
    height: 8rem;
    font-size: 1rem;
  }
</style>
