---
import "../styles/container.css";
---

<footer>
  <div class="max-width-container">
    <p>Some content in the footer</p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--footer-background);
    color: var(--footer-color);
    height: 8rem;
    font-size: 1rem;
  }
</style>
