---
import heroImage from "../assets/eric-nopanen-3skLpaOBlMw-unsplash.jpg";

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<div class="hero" style={"--hero-bg-image: url(" + heroImage.src + ");"}>
  <a class="implicit-link" href="#main">
    <div class="hero-content">
      <h1>
        <div class="line-one">{title}</div>
        <div class="line-two">{subtitle}</div>
      </h1>
    </div>
    <div class="hero-fadeout"></div>
  </a>
</div>

<style>
  /* roboto-condensed-latin-wght-normal */
  @font-face {
    font-family: "Roboto Condensed Variable";
    font-style: normal;
    font-display: fallback;
    font-weight: 100 900;
    src: url(@fontsource-variable/roboto-condensed/files/roboto-condensed-latin-wght-normal.woff2)
      format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
      U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  .hero {
    display: block;
    background-color: #ececec;
    background-image: var(--hero-bg-image);
    background-size: cover;
    --hero-total-height: 700px;
    --hero-fadeout-height: 98px;
    --hero-content-height: calc(
      var(--hero-total-height) - var(--hero-fadeout-height)
    );
  }

  .hero-content {
    height: var(--hero-content-height);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-fadeout {
    height: var(--hero-fadeout-height);
    background: linear-gradient(180deg, #00000000, #000000ff);
  }

  h1 {
    font-family: Lobster, sans-serif;
    color: white;
    text-align: center;
  }

  h1 .line-one {
    font-size: 128px;
    margin: 0px;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 0px #b1b1b1;
    text-shadow:
      0px 4px 0px #413f3f,
      0px 0px 10px rgba(0, 0, 0, 0.5);
    line-height: 1.05;
    margin-bottom: calc(128px * (1.25 - 1.05));
    margin-top: calc(128px * (1.25 - 1.05));
  }

  h1 .line-two {
    text-shadow:
      0px 4px 0px #413f3f,
      0px 0px 5px rgba(0, 0, 0, 0.25);
    font-size: 48px;
  }
</style>
