---
import "../styles/section.css";
---

<section>
  <a name="merch"></a>
  <h2>
    <a class="anchor" href="#merch" title="#merch">
      <span class="subdued">Du bist bereits ein</span>
      <span class="strong">Fan</span>&ZeroWidthSpace;<span class="subdued"
        >?</span
      >
    </a>
  </h2>
  <p>
    Dann unterstütze mit einer unserer &raquo;WCS Wuppertal&laquo;-T-Shirts,
    -Taschen oder einem unserer anderen Motive aus dem offiziellen
    <a href="https://shop.wcs-wuppertal.de">WCS Community Wuppertal Merch Shop</a>!
  </p>
</section>
