---

---

<header>
  <div class="max-width-container">
    <a href="/">&lt; Zurück</a>
    <span class="subdued">{" | "}</span>
    <h1>
      <a href="/">
        <span class="strong">WCS Wuppertal</span>
        <span class="subdued">Events</span>
      </a>
    </h1>
  </div>
</header>

<style>
  header {
    font-size: 2rem;
    line-height: 1.25;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: var(--minimal-header-color);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
    text-decoration-color: var(--minimal-header-underline);
  }

  h1 {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-top: 0;
    display: inline;
  }

  h1 .strong {
    font-weight: 600;
  }

  h1 .subdued {
    color: var(--minimal-header-subdued);
    font-weight: 300;
  }

  span.subdued {
    color: var(--minimal-header-subdued);
    font-weight: 400;
  }
</style>
