---

---

<div class="mock-table">
  <div class="mock-table-row"></div>
  <div class="mock-table-row"></div>
  <div class="mock-table-row"></div>
</div>

<style>
  .mock-table {
    margin-bottom: 48px;
  }

  .mock-table-row {
    background-color: #a3a3a3;
    height: 45px;
    margin-bottom: 1px;
  }
</style>
