---

---

<div class="mock-table">
  <div class="mock-table-row"></div>
  <div class="mock-table-row"></div>
  <div class="mock-table-row"></div>
</div>

<style>
  .mock-table {
    margin-bottom: 3rem;
  }

  .mock-table-row {
    background-color: var(--mock-table-background);
    height: 45px;
    margin-bottom: 1px;
  }
</style>
