---
import NavCard from "./NavCard.astro";

const image_url =
  "https://images.unsplash.com/photo-1566737236500-c8ac43014a67";
---

<nav class="nav-cards">
  <NavCard title="Kurse & Workshops" href="#kurse" image={image_url} />
  <NavCard title="Parties & Events" href="#parties" image={image_url} />
  <NavCard
    title="Merchandise"
    href="https://shop.wcs-wuppertal.de"
    image={image_url}
  />
</nav>

<style>
  .nav-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -6px;
    margin-right: -6px;
    margin-top: 36px;
    margin-bottom: 85px;
  }

  @media (max-width: 950px) {
    .nav-cards {
      flex-direction: column;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 36px;
      margin-bottom: 72px;
    }
  }
</style>
