---
import NavCard from "./NavCard.astro";

const image_url =
  "https://images.unsplash.com/photo-1566737236500-c8ac43014a67";
---

<nav class="nav-cards">
  <NavCard title="Kurse & Workshops" href="#kurse" image={image_url} />
  <NavCard title="Parties & Events" href="#parties" image="https://images.unsplash.com/photo-1655459784225-ae3ad6aef952 " />
  <NavCard
    title="Merchandise"
    href="https://shop.wcs-wuppertal.de"
    image="https://images.unsplash.com/photo-1579664531470-ac357f8f8e2b"
  />
</nav>

<style>
  .nav-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -6px;
    margin-right: -6px;
    margin-top: 96px;
    margin-bottom: 96px;
  }

  @media (max-width: 950px) {
    .nav-cards {
      flex-direction: column;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 36px;
      margin-bottom: 72px;
    }
  }
</style>
