---
import NavCard from "./NavCard.astro";
---

<div class="nav-cards">
  <NavCard title="Kurse & Workshops" href="#kurse" />
  <NavCard title="Parties & Events" href="#parties" />
  <NavCard title="Merchandise" href="https://shop.wcs-wuppertal.de" />
</div>

<style>
  .nav-cards {
    display: flex;
    flex-direction: row;
  }
</style>
