---
const { title, href } = Astro.props;
---

<a class="nav-card" href="{href}">
  <div class="nav-card-title">{title}</div>
</a>

<style>
  .nav-card {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 286px;
    height: 166px;
  }

  .nav-card-title {
    font-size: 16px;
    transition: font-size 500ms ease-out;
  }

  .nav-card:hover .nav-card-title {
    font-size: 32px;
  }
</style>
