---
import NavCard from "./NavCard.astro";
---

<div class="nav-cards">
  <NavCard title="Kurse & Workshops" href="#kurse" />
  <NavCard title="Parties & Events" href="#parties" />
  <NavCard title="Merchandise" href="https://shop.wcs-wuppertal.de" />
</div>

<style>
  .nav-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -6px;
    margin-right: -6px;
    margin-top: 36px;
  }
</style>
