---
const { title, href, image } = Astro.props;
---

<a class="nav-card" href={href} style={"--bg-image: url(" + image + ")"}>
  <div class="nav-card-background"></div>
  <div class="nav-card-title"><span>{title}</span></div>
</a>

<style>
  .nav-card {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 320px;
    height: 192px;
    position: relative;
    overflow: hidden;
    border-right: 1px solid #0f0f0f;
    border-bottom: 1px solid #0f0f0f;
  }

  .nav-card-background {
    background-color: #a3a3a3;
    background-image: var(--bg-image);
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transform: scale(1.0);
    transition: transform 3500ms ease-out;
  }

  .nav-card:hover .nav-card-background {
    transform: scale(1.05);
    transition: transform 350ms ease-out;
  }

  .nav-card-title {
    font-size: 24px;
    font-weight: bold;
    transition: font-size 500ms ease-out;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 6px;
    text-wrap: nowrap;
    overflow: hidden;
  }

  .nav-card-title span {
    position: relative;
    z-index: 1;
  }

  .nav-card:hover .nav-card-title {
    font-size: 32px;
  }

  .nav-card-title::after {
    content: "";
    display: block;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 0;
    transition:
      height 500ms ease,
      background-color 500ms ease-out;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    z-index: 0;
  }

  .nav-card:hover .nav-card-title::after {
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  @media (max-width: 950px) {
    .nav-card {
      width: auto;
      margin-bottom: 16px;
    }
  }
</style>
