---
import "../styles/section.css";
import MockTable from "./MockTable.astro";
---

<section>
  <a name="parties"></a>
  <a name="events"></a>
  <h2><span class="strong">Parties</span> <span class="subdued">&amp;</span> <span class="strong">Events</span></h2>
  <MockTable />
</section>
