---
import "../styles/section.css";
import MockTable from "./MockTable.astro";
---

<section>
  <a name="parties"></a>
  <a name="events"></a>
  <h2>Parties &amp; Events</h2>
  <MockTable />
</section>
