---
import "../styles/section.css";
import MockTable from "./MockTable.astro";
---

<section>
  <a name="parties"></a>
  <a name="events"></a>
  <h2><span class="strong">Parties</span> <span class="subdued">&amp;</span> <span class="strong">Events</span></h2>
  <MockTable />
  <p>Weitere Parties &amp; Workshops in ganz NRW findet ihr bei <a href="https://westiecommunity.de/">Westie Community NRW</a>!</p>
</section>
