---
import { getCollection, type InferEntrySchema } from "astro:content";

type ItemType = keyof InferEntrySchema<"calendar">["type"];

interface Props {
  types?: ItemType[];
}

const { types } = Astro.props;

const entries = await getCollection("calendar", ({ data: { type } }) => {
  return (
    !types ||
    types.some(
      (t) =>
        // @ts-ignore
        !!type[t],
    )
  );
});
---

<div class="table">
  <div class="thead"></div>
  <div class="tbody">
    <div class="tr-parent">
      <div class="tr">
        <div class="td name">WCS Level 1 &amp; 2</div>
        <div class="td dates">
          12.01.2025 <span class="additional-dates"
            >+ <span>5 weitere Starttermine</span></span
          >
        </div>
        <div class="td">ADTV Tanzschule Schäfer-Koch</div>
        <div class="td"><a href="#">Anmelden</a></div>
      </div>
    </div>
    <div class="tr">
      <div class="td name">WCS Level 1</div>
      <div class="td dates">
        12.01.2025 <span class="additional-dates"
          >+ <span>5 weitere Starttermine</span></span
        >
      </div>
      <div class="td">BUW UniSport</div>
      <div class="td"><a href="#">Anmelden</a></div>
    </div>
    <!-- {
      entries.map((entry) => {
        return (
          <tr>
            <td>{entry.data.name}</td>
            <td><a href={entry.data.url}>Anmeldung</a></td>
          </tr>
        );
      })
    } -->
  </div>
</div>

<style>
  .table {
    font-size: 1.5rem;
    line-height: 45px;
  }

  tr {
    background-color: #a3a3a3;
    color: #000000;
  }

  td {
    border: none;
    padding-inline: calc((45px - 1.5rem) / 2);
  }

  .additional-dates {
    /* display: inline-block; */
    background-color: #171717;
    border-radius: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    padding-top: 5px;
    padding-bottom: 4px;
    position: relative;
    bottom: 1px;
  }

  .additional-dates span {
  }

  .tr {
    display: flex;
  }

  .td {
    flex-grow: 1;
  }
</style>
