---
import { getCollection, type InferEntrySchema } from "astro:content";

type ItemType = keyof InferEntrySchema<"calendar">["type"];

interface Props {
  types?: ItemType[];
}

const { types } = Astro.props;

const entries = await getCollection("calendar", ({ data: { type } }) => {
  return (
    !types ||
    types.some(
      (t) =>
        // @ts-ignore
        !!type[t],
    )
  );
});
---

<table>
  <thead> </thead>
  <tbody>
    {
      entries.map((entry) => {
        return (
          <tr>
            <td>{entry.data.name}</td>
            <td><a href={entry.data.url}>Anmeldung</a></td>
          </tr>
        );
      })
    }
  </tbody>
</table>

<style>
  table {
    font-size: 1.5rem;
    border-spacing: 0px 2px;
    line-height: 45px;
    width: 100%;
  }

  tr {
    background-color: #a3a3a3;
    color: #000000;

  }

  td {
    border: none;
    padding-inline: calc((45px - 1.5rem) / 2);
  }
</style>
