---
import { Icon } from "astro-icon/components";
import { getCollection, type InferEntrySchema } from "astro:content";

type ItemType = keyof InferEntrySchema<"calendar">["type"];

interface Props {
  types?: ItemType[];
}

const { types } = Astro.props;

const entries = await getCollection("calendar", ({ data: { type } }) => {
  return (
    !types ||
    types.some(
      (t) =>
        // @ts-ignore
        !!type[t],
    )
  );
});
---

<div class="table">
  <div class="thead"></div>
  <div class="tbody">
    <div class="tr-parent">
      <div class="tr primary">
        <div class="td name">WCS Level 1 &amp; 2</div>
        <div class="td dates">
          12.01.2025 <span class="additional-dates"
            >+ <span
              >5 <span class="if-small-viewport"
                ><Icon name="material-symbols:event-rounded" /></span
              ><span class="if-large-viewport">weitere Starttermine</span></span
            >
          </span>
        </div>
        <div class="td location">ADTV Tanzschule Schäfer-Koch</div>
        <div class="td link"><a href="#">Anmelden</a></div>
      </div>
      <div class="expander">
        <div class="extended">
          <div class="description">
            Lorem ipsum, dolor sit amet, and some more words to fill this space
            with some sort of vaguely meaningful text. This is just here to test
            the layout, so congratulations for reading a text that does not mean
            anything.
          </div>
        </div>
        <div class="sub-table">
          <div class="tr">
            <div class="td name">WCS Level 1</div>
            <div class="td date">12.01.2025</div>
            <div class="td time">16:30</div>
            <div class="td location">ADTV Tanzschule Schäfer-Koch</div>
            <div class="td link"><a href="#">Anmelden</a></div>
          </div>
          <div class="tr">
            <div class="td name">WCS Level 2</div>
            <div class="td date">12.01.2025</div>
            <div class="td time">17:30</div>
            <div class="td location">ADTV Tanzschule Schäfer-Koch</div>
            <div class="td link"><a href="#">Anmelden</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tr primary">
      <div class="td name">WCS Level 1</div>
      <div class="td dates">
        12.01.2025 <span class="additional-dates"
          >+ <span>5 weitere Starttermine</span></span
        >
      </div>
      <div class="td location">BUW UniSport</div>
      <div class="td link"><a href="#">Anmelden</a></div>
    </div>
    <!-- {
      entries.map((entry) => {
        return (
          <tr>
            <td>{entry.data.name}</td>
            <td><a href={entry.data.url}>Anmeldung</a></td>
          </tr>
        );
      })
    } -->
  </div>
</div>

<style>
  .table {
    font-size: 1.5rem;
    line-height: 45px;
    background-color: #a3a3a3;
    background-color: #eee;
    border-radius: 5px;
    color: #000000;
  }

  .tr {
    border-top: 3px solid #999;
  }

  .tr.primary {
    border-top: 3px solid #666;
  }

  .tr-parent .tr.primary {
    border-bottom: 3px solid #666;
  }

  .table > .tbody > .tr-parent:first-child .tr.primary,
  .table > .tbody > .tr.primary:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .tr {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  /* -- */

  .additional-dates {
    /* display: inline-block; */
    background-color: #171717;
    border-radius: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: calc(28 * 1rem / 16);
    padding-top: calc(5 * 1rem / 16);
    padding-bottom: calc(4 * 1rem / 16);
    position: relative;
    bottom: calc(1 * 1rem / 16);
    color: #ffffff;
  }

  /* -- */

  .tr.primary {
    cursor: pointer;
  }

  /* -- */

  .description {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
  }

  .name,
  .date,
  .dates,
  .time,
  .times,
  .location,
  .link,
  .description,
  *[data-column-name] {
    --indent: 0.5rem;
    margin-left: var(--indent);
  }

  *[data-column-name]::before {
    content: attr(data-column-name);
  }

  .name::before {
    content: "Kurs";
  }
  .date::before,
  .dates::before {
    content: "Datum";
    content: "Datum";
  }
  .time::before,
  .times::before {
    content: "Uhrzeit";
  }
  .location::before {
    content: "Ort";
  }
  .link::before {
    content: "";
  }
  .description::before {
    content: "Beschreibung";
  }

  .name::before {
    content: "Was?";
  }
  .date::before,
  .dates::before {
    content: "Wann?";
  }
  .time::before,
  .times::before {
    content: "";
  }
  .location::before {
    content: "Wer?";
  }

  *[data-column-name]::before,
  .name::before,
  .date::before,
  .dates::before,
  .time::before,
  .times::before,
  .location::before,
  .link::before,
  .description::before {
    display: block;
    font-weight: 800;
    font-size: 14px;
    line-height: 1rem;
    margin-left: calc(-1 * var(--indent));
  }

  .if-small-viewport {
    display: none;
    font-size: 1.25rem;
    position: relative;
    top: 0.15em;
    color: #000000;
  }

  .if-large-viewport {
    display: none;
  }

  @media (min-width: 1120px) {
    .if-small-viewport {
      display: none;
    }

    .if-large-viewport {
      display: inline;
    }
  }

  @media (min-width: 900px) {
    .table {
      display: grid;
      grid-template-columns:
        [start name name-start] 1.2fr
        [date date-start name-end] 1fr
        [time time-start date-end] 1fr
        [location location-start time-end] 2fr
        [link link-start location-end] 1fr
        [end link-end];
    }

    .name {
      grid-column: name;
    }
    .dates {
      grid-column: date-start / time-end;
    }
    .date {
      grid-column: date;
    }
    .time,
    .times {
      grid-column: time;
    }
    .location {
      grid-column: location;
    }
    .link {
      grid-column: link;
    }
    .description {
      grid-column: start / end;
    }

    .tbody,
    .thead,
    .tr-parent,
    .tr,
    .expander,
    .extended,
    .sub-table {
      grid-column: start / end;
      display: grid;
      grid-template-columns: subgrid;
    }

    .td::before {
      content: none !important;
    }

    .name,
    .date,
    .dates,
    .time,
    .times,
    .location,
    .link {
      --indent: 0px;
    }
  }

  /** -- */

  .sub-table {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 38px;
  }
</style>
