---
import About from "./About.astro";
import Classes from "./Classes.astro";
import Contact from "./Contact.astro";
import Footer from "./Footer.astro";
import Hero from "./Hero.astro";
import Merchandise from "./Merchandise.astro";
import Navbar from "./Navbar.astro";
import NavCards from "./NavCards.astro";
import Parties from "./Parties.astro";
---

<div id="container">
  <Navbar />
  <Hero />
  <div class="content-wide">
    <NavCards />
  </div>
  <div class="content">
    <About />
    <Classes />
    <Parties />
    <Contact />
    <Merchandise />
  </div>
  <footer>
    <Footer />
  </footer>
</div>

<style>
  .content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 16px;
    border-bottom: 1px solid black;
  }

  .content-wide {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 16px;
  }
</style>
