---
import "../styles/container.css";
import About from "./About.astro";
import Classes from "./Classes.astro";
import Contact from "./Contact.astro";
import Footer from "./Footer.astro";
import Hero from "./Hero.astro";
import Merchandise from "./Merchandise.astro";
import Navbar from "./Navbar.astro";
import NavCards from "./NavCards.astro";
import Parties from "./Parties.astro";
---

<div id="container">
  <Hero />
  <div class="content max-width-container">
    <NavCards />
    <About />
    <Classes />
    <Parties />
    <Contact />
    <Merchandise />
  </div>
  <Footer />
</div>
