---
import About from "./About.astro";
import Classes from "./Classes.astro";
import Hero from "./Hero.astro";
import Navbar from "./Navbar.astro";
import NavCards from "./NavCards.astro";
import Parties from "./Parties.astro";
---

<div id="container">
  <Navbar />
  <Hero />
  <NavCards />
  <About />
  <Classes />
  <Parties />
</div>

<style is:global>
  body {
    font-family: sans-serif;
  }

  h2 {
    font-size: 32px;
    margin-top: 85px;
  }
</style>
