---
import About from "./About.astro";
import Classes from "./Classes.astro";
import Hero from "./Hero.astro";
import Navbar from "./Navbar.astro";
import NavCards from "./NavCards.astro";
import Parties from "./Parties.astro";
---

<div id="container">
  <Navbar />
  <Hero />
  <div class="content">
    <NavCards />
    <About />
    <Classes />
    <Parties />
  </div>
</div>
