---
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import SeoTag from "../components/SeoTag.astro";
import LayoutBase from "./LayoutBase.astro";

interface Props {
  title?: string;
  subtitle?: string;
  isHomepageOrAbout?: boolean;
}

const { title = "", subtitle = "", isHomepageOrAbout = false } = Astro.props;
---

<LayoutBase>
  <SeoTag
    slot="head"
    title={title !== "" && subtitle !== "" ? title + " " + subtitle : title}
    pageTitle={title !== "" && subtitle !== "" ? title + " " + subtitle : title}
    isHomepageOrAbout={isHomepageOrAbout}
    canonicalUrl={new URL(Astro.url.pathname, Astro.site)}
    locale="de-DE"
    site={{
      title: "WCS Wuppertal",
      logo: new URL("/favicon.svg", Astro.site),
    }}
  />
  <div id="container">
    {
      Astro.slots.has("header") ? (
        <slot name="header" />
      ) : (
        <header>
          {Astro.slots.has("hero") ? (
            <slot name="hero" />
          ) : (
            <Hero title={title} subtitle={subtitle} />
          )}
        </header>
      )
    }
    <main class="content max-width-container">
      <div
        id="main"
        style="position: relative; bottom: 110px; width: 0px; height: 0px;"
      >
      </div>
      <slot />
    </main>
  </div>
  {Astro.slots.has("header") ? <slot name="footer" /> : <Footer />}
</LayoutBase>
