---
import shareImage from "../assets/kurse-und-workshops.jpg";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import SeoTag from "../components/SeoTag.astro";
import NavCards from "../content/NavCards.astro";
import LayoutBase from "./LayoutBase.astro";

interface Props {
  title?: string;
  subtitle?: string;
  isHomepageOrAbout?: boolean;
  hasSeoTag?: boolean;
}

const { title = "", subtitle = "", isHomepageOrAbout = false } = Astro.props;
---

<LayoutBase>
  <Fragment slot="head">
    <slot name="head" />
    {
      (Astro.props.hasSeoTag ?? Astro.slots.has("seo-tag")) ? (
        <slot name="seo-tag" />
      ) : (
        <SeoTag
          locale="de-DE"
          isHomepageOrAbout={isHomepageOrAbout}
          title={
            title !== "" && subtitle !== "" ? title + " " + subtitle : title
          }
          image={shareImage}
          site={{
            title: "WCS Wuppertal",
            logo: new URL("/favicon.svg", Astro.site),
            description:
              "Stell dir vor, du könntest sofort auf all deine Lieblingsmusik tanzen – und dabei auch noch ganz viel Spaß haben, nette Leute kennenlernen und neue Verbindungen knüpfen. Klingt gut? Dann bist du bei West Coast Swing absolut richtig! Entstanden an der kalifornischen Westküste, ist der West Coast Swing mittlerweile über den Atlantik herübergeschwappt und hat sich auch in unseren Breiten eine stetig wachsende Fangemeinde gesichert. Diese trifft sich beinahe jede Woche zu Parties, Workshops und Festivals in Deutschland und Europa.",
          }}
          canonicalUrl={new URL(Astro.url.pathname, Astro.site)}
          disableJsonLd={Astro.slots.has("seo-json-ld")}
        />
      )
    }
    <slot name="seo-json-ld" />
  </Fragment>
  <div id="container">
    {
      Astro.slots.has("header") ? (
        <slot name="header" />
      ) : (
        <header>
          {Astro.slots.has("hero") ? (
            <slot name="hero" />
          ) : (
            <Hero title={title} subtitle={subtitle} />
          )}
        </header>
      )
    }
    <main class="content max-width-container">
      <div
        id="main"
        style="position: relative; bottom: 110px; width: 0px; height: 0px;"
      >
      </div>
      <slot />
      {
        Astro.slots.has("related-links") ? (
          <slot name="related-links" />
        ) : (
          <NavCards />
        )
      }
    </main>
  </div>
  {Astro.slots.has("footer") ? <slot name="footer" /> : <Footer />}
</LayoutBase>
