---
import "@fontsource-variable/roboto-condensed";
import SeoTag from "../components/SeoTag.astro";
import "../styles/colors.css";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SeoTag title="West Coast Swing in Wuppertal" />
  </head>
  <body>
    <slot />
  </body>
</html>
